* {
    font-family: 'Roboto', sans-serif;
}

body {
}


#Review
{
    padding-top: 5%;
    margin-left:40%;
    
   
}

#thanks {
    padding-top: 5%;
    margin-left: 40%;
}

#return{
    margin-left:5%;
}