body {
}

#product_container {
    padding-top: 2%;
    text-align: center;
    margin: 0 auto;
}

#product {
    width: 10%;
    height: 300px auto;
    display: inline-grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
   
    border:solid;
}

#brand, #name{
    font-weight: 300;
}


#item {
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table.items {
    margin-left: 0 auto;
    text-align: center;
    padding: 3px;
    width: 30% auto;
    margin-right: auto;

    margin-left: auto;
}



