body {
}

#product_container {
    padding-top: 2%;
    text-align: center;
    margin: 0 auto;
}

#product {
    width: 10%;
    display: inline-grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
   
    border:solid;
}

#brand, #name{
    font-weight: 300;
}


